<div id="player">
  <div *ngIf="currentPlayback === null">Aktuell wird kein Lied abgespielt</div>

  <div id="player-details">
    <img *ngIf="currentPlayback !== null" id="album-cover" [src]="currentTrack.imageUrl" width="8%" height="8%">
    <div *ngIf="currentPlayback !== null" id="track-information">
      <p>Titel: {{currentTrack.name}}</p>
      <span>Artist: {{currentTrack.artists}}</span>
    </div>

    <mat-icon (click)="playerService.startParty(partyCode)" *ngIf="currentPlayback == null && isCreator"
              class="controller-icon"
              svgIcon="play"></mat-icon>
    <mat-icon (click)="playerService.stopParty(partyCode)" *ngIf="currentPlayback != null && isCreator"
              class="controller-icon"
              svgIcon="pause"></mat-icon>
    <mat-icon (click)="playerService.skipParty(partyCode)" *ngIf="isCreator" class="controller-icon"
              svgIcon="skip"></mat-icon>
  </div>
</div>
