<div id="player" class="mat-body">
  <div *ngIf="currentPlayback === null"><span>Aktuell wird kein Lied abgespielt</span></div>

  <img *ngIf="currentPlayback !== null" id="album-cover" [src]="currentTrack.imageUrl">
  <div id="player-details">
    <div *ngIf="currentPlayback !== null" id="track-information">
      <p>Titel: {{currentTrack.name}}</p>
      <span>Artist: {{currentTrack.artists}}</span>
    </div>
  </div>

  <div id="player-controls">
    <mat-icon (click)="playerService.startParty(partyCode)" *ngIf="currentPlayback == null && isCreator"
              class="controller-icon"
              svgIcon="play"></mat-icon>
    <mat-icon (click)="playerService.stopParty(partyCode)" *ngIf="currentPlayback != null && isCreator"
              class="controller-icon"
              svgIcon="pause"></mat-icon>
    <mat-icon (click)="playerService.skipParty(partyCode)" *ngIf="isCreator" class="controller-icon"
              svgIcon="skip"></mat-icon>
  </div>
</div>
