<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row class="main-menu">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon svgIcon="menu" aria-hidden="false" aria-label="Menu button"></mat-icon>
      </button>
      <a routerLink="/home">{{ title }}</a>

      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>

      <span *ngIf="!username"><a id="login" [href]="spotify_auth_url">Login mit Spotify</a></span>
      <span id="user-nav" *ngIf="username">Hallo {{ username }}!</span>

    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav id="side-navigation" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item (click)="mobileQuery.matches ? snav.close() : null" [routerLink]="nav.navigate" *ngFor="let nav
         of navElements">{{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
