<div class="container">
  <app-logo id="logo"></app-logo>
  <div class="row wrap">
    <mat-card>
      <mat-card-title>Trete einer Party bei</mat-card-title>
      <mat-card-content>
        Du bis tauf einer Party? Nix wie los, äußere deine Musikwünsche!
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Party beitreten!</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>Erstelle eine Party</mat-card-title>
      <mat-card-content>
        Leg los und erstelle eine Party.
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button routerLink="/user/party/create" color="primary">Party erstellen!</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

