#logo {
  margin: 10px auto;
  height: 30%;
  width: 40%;
}

mat-card {
  margin: 10px auto;
  width: 45%;

  & > mat-card-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 450px) {
  mat-card {
    width: 100%;
  }
}
