<mat-form-field>
  <input matInput placeholder="Musikwunsch hinzufügen" aria-label="State" [matAutocomplete]="auto"
         [formControl]="searchMusicRequestCtrl">
  <mat-autocomplete #auto=matAutocomplete>
    <mat-option *ngIf="isLoading" class="is-loading">Lade...</mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let musicRequest of foundMusicRequests" (click)="addMusicRequest(musicRequest)">
        <span><strong>{{musicRequest.name}}</strong> - {{musicRequest.artists}}</span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
