<mat-card class="mat-card">
  <mat-vertical-stepper linear #stepper>
    <mat-step>
      <form [formGroup]="partyForm">
        <ng-template matStepLabel>Party</ng-template>
        <mat-form-field>
          <input matInput placeholder="Die ID der Party" formControlName="partyCodeField" required>
          <mat-error
            *ngIf="partyForm.get('partyCodeField').errors && partyForm.get('partyCodeField').errors.partyNotFound">
            Party konnte nicht gefunden werden.
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button [disabled]="partyForm.invalid" (click)="findPartyById(stepper)">Weiter</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="passwordForm" *ngIf="hasPassword" errorMessage="Passwort wird benötigt.">
      <form [formGroup]="passwordForm">
        <ng-template matStepLabel>Passwort</ng-template>
        <mat-form-field>
          <input matInput placeholder="Passwort" formControlName="passwordField" required>
          <mat-error
            *ngIf="!passwordForm.valid && passwordForm.get('passwordField').errors.wrongPassword">
            Passwort falsch.
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button matStepperNext>Weiter</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="joinForm">
        <ng-template matStepLabel>Beitreten</ng-template>
        <mat-form-field>
          <input matInput placeholder="Dein Spitzname" formControlName="guestName" required>
          <mat-error
            *ngIf="!joinForm.valid && joinForm.get('guestName').errors.nameAlreadyExists">
            Der Name ist bereits vergeben.
          </mat-error>
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <button mat-button (click)="joinParty()" [disabled]="joinForm.invalid">Jetzt beitreten</button>
      </div>
    </mat-step>
    <ng-template matStepperIcon="edit">
      <mat-icon svgIcon="create"></mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon svgIcon="done"></mat-icon>
    </ng-template>
    <ng-template matStepperIcon="error">
      <mat-icon svgIcon="warning"></mat-icon>
    </ng-template>
  </mat-vertical-stepper>
</mat-card>
