table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mr-container {
  height: 80%;
  overflow: auto;
}

mat-icon {
  padding: 3px;
}

.clickable {
  cursor: pointer;
}

.voted {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}
