table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mr-container {
  flex: 1;
  max-height: 68vh;
  overflow: auto;
}

@media only screen and (max-height: 760px) {
  .mr-container {
    flex: 1;
    max-height: 59vh;
    overflow: auto;
  }
}

@media only screen and (min-height: 761px) and (max-height: 769px) {
  .mr-container {
    flex: 1;
    max-height: 61vh;
    overflow: auto;
  }
}

@media only screen and (min-height: 770px) and (max-height: 834px) {
  .mr-container {
    flex: 1;
    max-height: 65vh;
    overflow: auto;
  }
}

mat-icon {
  padding: 3px;
}

.clickable {
  cursor: pointer;
}

.voted {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}
