@import "theme";

$dark-background-palette: map-get($candy-app-theme, background);

body {
  margin: 0;
  background-color: mat-color($dark-background-palette, background);
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;

  & > .row {
    display: flex;
    flex-direction: row;

    &.wrap {
      flex-wrap: wrap;
    }
  }
}
